[submodule "lcls-plc-bergmann-kohzu"]
	path = lcls-plc-bergmann-kohzu
	url = https://github.com/pcdshub/lcls-plc-bergmann-kohzu
[submodule "lcls-plc-crixs-motion"]
	path = lcls-plc-crixs-motion
	url = https://github.com/pcdshub/lcls-plc-crixs-motion
[submodule "lcls-plc-crixs-vac"]
	path = lcls-plc-crixs-vac
	url = https://github.com/pcdshub/lcls-plc-crixs-vac
[submodule "lcls-plc-cvmi-motion"]
	path = lcls-plc-cvmi-motion
	url = https://github.com/pcdshub/lcls-plc-cvmi-motion
[submodule "lcls-plc-cvmi-vac"]
	path = lcls-plc-cvmi-vac
	url = https://github.com/pcdshub/lcls-plc-cvmi-vac
[submodule "lcls-plc-cxi-fms"]
	path = lcls-plc-cxi-fms
	url = https://github.com/pcdshub/lcls-plc-cxi-fms
[submodule "lcls-plc-cxi-sample-delivery"]
	path = lcls-plc-cxi-sample-delivery
	url = https://github.com/pcdshub/lcls-plc-cxi-sample-delivery
[submodule "lcls-plc-dev-pmps"]
	path = lcls-plc-dev-pmps
	url = https://github.com/pcdshub/lcls-plc-dev-pmps
[submodule "lcls-plc-dev-pmps-subsystem"]
	path = lcls-plc-dev-pmps-subsystem
	url = https://github.com/pcdshub/lcls-plc-dev-pmps-subsystem
[submodule "lcls-plc-dev-xrt-optics"]
	path = lcls-plc-dev-xrt-optics
	url = https://github.com/pcdshub/lcls-plc-dev-xrt-optics
[submodule "lcls-plc-dream-motion"]
	path = lcls-plc-dream-motion
	url = https://github.com/pcdshub/lcls-plc-dream-motion
[submodule "lcls-plc-dream-vac"]
	path = lcls-plc-dream-vac
	url = https://github.com/pcdshub/lcls-plc-dream-vac
[submodule "lcls-plc-example-motion"]
	path = lcls-plc-example-motion
	url = https://github.com/pcdshub/lcls-plc-example-motion
[submodule "lcls-plc-example-vac-interface"]
	path = lcls-plc-example-vac-interface
	url = https://github.com/pcdshub/lcls-plc-example-vac-interface
[submodule "lcls-plc-example-vacuum-serial"]
	path = lcls-plc-example-vacuum-serial
	url = https://github.com/pcdshub/lcls-plc-example-vacuum-serial
[submodule "lcls-plc-ftl-leak-det"]
	path = lcls-plc-ftl-leak-det
	url = https://github.com/pcdshub/lcls-plc-ftl-leak-det
[submodule "lcls-plc-hxr-polycap"]
	path = lcls-plc-hxr-polycap
	url = https://github.com/pcdshub/lcls-plc-hxr-polycap
[submodule "lcls-plc-hxr-vhs"]
	path = lcls-plc-hxr-vhs
	url = https://github.com/pcdshub/lcls-plc-hxr-vhs
[submodule "lcls-plc-hxx-vonhamos"]
	path = lcls-plc-hxx-vonhamos
	url = https://github.com/pcdshub/lcls-plc-hxx-vonhamos
[submodule "lcls-plc-icl-sample-delivery"]
	path = lcls-plc-icl-sample-delivery
	url = https://github.com/pcdshub/lcls-plc-icl-sample-delivery
[submodule "lcls-plc-kfe-arbiter"]
	path = lcls-plc-kfe-arbiter
	url = https://github.com/pcdshub/lcls-plc-kfe-arbiter
[submodule "lcls-plc-kfe-gatt"]
	path = lcls-plc-kfe-gatt
	url = https://github.com/pcdshub/lcls-plc-kfe-gatt
[submodule "lcls-plc-kfe-gmd-vac"]
	path = lcls-plc-kfe-gmd-vac
	url = https://github.com/pcdshub/lcls-plc-kfe-gmd-vac
[submodule "lcls-plc-kfe-motion"]
	path = lcls-plc-kfe-motion
	url = https://github.com/pcdshub/lcls-plc-kfe-motion
[submodule "lcls-plc-kfe-rix-motion"]
	path = lcls-plc-kfe-rix-motion
	url = https://github.com/pcdshub/lcls-plc-kfe-rix-motion
[submodule "lcls-plc-kfe-rix-vac"]
	path = lcls-plc-kfe-rix-vac
	url = https://github.com/pcdshub/lcls-plc-kfe-rix-vac
[submodule "lcls-plc-kfe-vac"]
	path = lcls-plc-kfe-vac
	url = https://github.com/pcdshub/lcls-plc-kfe-vac
[submodule "lcls-plc-kfe-xgmd-vac"]
	path = lcls-plc-kfe-xgmd-vac
	url = https://github.com/pcdshub/lcls-plc-kfe-xgmd-vac
[submodule "lcls-plc-lamp-lv17-motion"]
	path = lcls-plc-lamp-lv17-motion
	url = https://github.com/pcdshub/lcls-plc-lamp-lv17-motion
[submodule "lcls-plc-lamp-lv17-vac"]
	path = lcls-plc-lamp-lv17-vac
	url = https://github.com/pcdshub/lcls-plc-lamp-lv17-vac
[submodule "lcls-plc-lamp-motion"]
	path = lcls-plc-lamp-motion
	url = https://github.com/pcdshub/lcls-plc-lamp-motion
[submodule "lcls-plc-lamp-vac"]
	path = lcls-plc-lamp-vac
	url = https://github.com/pcdshub/lcls-plc-lamp-vac
[submodule "lcls-plc-lamp-vac-1"]
	path = lcls-plc-lamp-vac-1
	url = https://github.com/pcdshub/lcls-plc-lamp-vac-1
[submodule "lcls-plc-las-bts"]
	path = lcls-plc-las-bts
	url = https://github.com/pcdshub/lcls-plc-las-bts
[submodule "lcls-plc-las-lps-01"]
	path = lcls-plc-las-lps-01
	url = https://github.com/pcdshub/lcls-plc-las-lps-01
[submodule "lcls-plc-lfe-arbiter"]
	path = lcls-plc-lfe-arbiter
	url = https://github.com/pcdshub/lcls-plc-lfe-arbiter
[submodule "lcls-plc-lfe-gem"]
	path = lcls-plc-lfe-gem
	url = https://github.com/pcdshub/lcls-plc-lfe-gem
[submodule "lcls-plc-lfe-motion"]
	path = lcls-plc-lfe-motion
	url = https://github.com/pcdshub/lcls-plc-lfe-motion
[submodule "lcls-plc-lfe-motion-kmono"]
	path = lcls-plc-lfe-motion-kmono
	url = https://github.com/pcdshub/lcls-plc-lfe-motion-kmono
[submodule "lcls-plc-lfe-optics"]
	path = lcls-plc-lfe-optics
	url = https://github.com/pcdshub/lcls-plc-lfe-optics
[submodule "lcls-plc-lfe-vac"]
	path = lcls-plc-lfe-vac
	url = https://github.com/pcdshub/lcls-plc-lfe-vac
[submodule "lcls-plc-lps-02"]
	path = lcls-plc-lps-02
	url = https://github.com/pcdshub/lcls-plc-lps-02
[submodule "lcls-plc-marbox-test-project"]
	path = lcls-plc-marbox-test-project
	url = https://github.com/pcdshub/lcls-plc-marbox-test-project
[submodule "lcls-plc-mfx-be-lens-interlock"]
	path = lcls-plc-mfx-be-lens-interlock
	url = https://github.com/pcdshub/lcls-plc-mfx-be-lens-interlock
[submodule "lcls-plc-mfx-motion"]
	path = lcls-plc-mfx-motion
	url = https://github.com/pcdshub/lcls-plc-mfx-motion
[submodule "lcls-plc-mfx-sample-delivery"]
	path = lcls-plc-mfx-sample-delivery
	url = https://github.com/pcdshub/lcls-plc-mfx-sample-delivery
[submodule "lcls-plc-mini-powermeter-calib"]
	path = lcls-plc-mini-powermeter-calib
	url = https://github.com/pcdshub/lcls-plc-mini-powermeter-calib
[submodule "lcls-plc-motion-test-stand"]
	path = lcls-plc-motion-test-stand
	url = https://github.com/pcdshub/lcls-plc-motion-test-stand
[submodule "lcls-plc-mrco-motion"]
	path = lcls-plc-mrco-motion
	url = https://github.com/pcdshub/lcls-plc-mrco-motion
[submodule "lcls-plc-mrco-vac"]
	path = lcls-plc-mrco-vac
	url = https://github.com/pcdshub/lcls-plc-mrco-vac
[submodule "lcls-plc-neh-tst"]
	path = lcls-plc-neh-tst
	url = https://github.com/pcdshub/lcls-plc-neh-tst
[submodule "lcls-plc-polycapillary"]
	path = lcls-plc-polycapillary
	url = https://github.com/pcdshub/lcls-plc-polycapillary
[submodule "lcls-plc-qrix-motion"]
	path = lcls-plc-qrix-motion
	url = https://github.com/pcdshub/lcls-plc-qrix-motion
[submodule "lcls-plc-qrix-vac"]
	path = lcls-plc-qrix-vac
	url = https://github.com/pcdshub/lcls-plc-qrix-vac
[submodule "lcls-plc-rix-sample-delivery"]
	path = lcls-plc-rix-sample-delivery
	url = https://github.com/pcdshub/lcls-plc-rix-sample-delivery
[submodule "lcls-plc-rix-sds-injector"]
	path = lcls-plc-rix-sds-injector
	url = https://github.com/pcdshub/lcls-plc-rix-sds-injector
[submodule "lcls-plc-rixs-optics"]
	path = lcls-plc-rixs-optics
	url = https://github.com/pcdshub/lcls-plc-rixs-optics
[submodule "lcls-plc-rixs-svls-motion"]
	path = lcls-plc-rixs-svls-motion
	url = https://github.com/pcdshub/lcls-plc-rixs-svls-motion
[submodule "lcls-plc-roving-spectrometer"]
	path = lcls-plc-roving-spectrometer
	url = https://github.com/pcdshub/lcls-plc-roving-spectrometer
[submodule "lcls-plc-sample-delivery-system"]
	path = lcls-plc-sample-delivery-system
	url = https://github.com/pcdshub/lcls-plc-sample-delivery-system
[submodule "lcls-plc-sds-vis"]
	path = lcls-plc-sds-vis
	url = https://github.com/pcdshub/lcls-plc-sds-vis
[submodule "lcls-plc-sxr-satt"]
	path = lcls-plc-sxr-satt
	url = https://github.com/pcdshub/lcls-plc-sxr-satt
[submodule "lcls-plc-template-twincat-project"]
	path = lcls-plc-template-twincat-project
	url = https://github.com/pcdshub/lcls-plc-template-twincat-project
[submodule "lcls-plc-template-vacuum"]
	path = lcls-plc-template-vacuum
	url = https://github.com/pcdshub/lcls-plc-template-vacuum
[submodule "lcls-plc-test-ads"]
	path = lcls-plc-test-ads
	url = https://github.com/pcdshub/lcls-plc-test-ads
[submodule "lcls-plc-test-btps-prototype"]
	path = lcls-plc-test-btps-prototype
	url = https://github.com/pcdshub/lcls-plc-test-btps-prototype
[submodule "lcls-plc-test-el2212-evaluation"]
	path = lcls-plc-test-el2212-evaluation
	url = https://github.com/pcdshub/lcls-plc-test-el2212-evaluation
[submodule "lcls-plc-test-m1l1-sat"]
	path = lcls-plc-test-m1l1-sat
	url = https://github.com/pcdshub/lcls-plc-test-m1l1-sat
[submodule "lcls-plc-test-m2k2"]
	path = lcls-plc-test-m2k2
	url = https://github.com/pcdshub/lcls-plc-test-m2k2
[submodule "lcls-plc-test-m2k4-m3k4"]
	path = lcls-plc-test-m2k4-m3k4
	url = https://github.com/pcdshub/lcls-plc-test-m2k4-m3k4
[submodule "lcls-plc-test-m3k3-m4k3-m2l1-m3l1-sat"]
	path = lcls-plc-test-m3k3-m4k3-m2l1-m3l1-sat
	url = https://github.com/pcdshub/lcls-plc-test-m3k3-m4k3-m2l1-m3l1-sat
[submodule "lcls-plc-test-m4k4-m5k4-dream-sat"]
	path = lcls-plc-test-m4k4-m5k4-dream-sat
	url = https://github.com/pcdshub/lcls-plc-test-m4k4-m5k4-dream-sat
[submodule "lcls-plc-test-old-dev-arbiter"]
	path = lcls-plc-test-old-dev-arbiter
	url = https://github.com/pcdshub/lcls-plc-test-old-dev-arbiter
[submodule "lcls-plc-test-pfeiffer-tc110"]
	path = lcls-plc-test-pfeiffer-tc110
	url = https://github.com/pcdshub/lcls-plc-test-pfeiffer-tc110
[submodule "lcls-plc-test-tmo-motion-granite-3"]
	path = lcls-plc-test-tmo-motion-granite-3
	url = https://github.com/pcdshub/lcls-plc-test-tmo-motion-granite-3
[submodule "lcls-plc-tmo-motion"]
	path = lcls-plc-tmo-motion
	url = https://github.com/pcdshub/lcls-plc-tmo-motion
[submodule "lcls-plc-tmo-optics"]
	path = lcls-plc-tmo-optics
	url = https://github.com/pcdshub/lcls-plc-tmo-optics
[submodule "lcls-plc-tmo-spectrometer-motion"]
	path = lcls-plc-tmo-spectrometer-motion
	url = https://github.com/pcdshub/lcls-plc-tmo-spectrometer-motion
[submodule "lcls-plc-tmo-vac"]
	path = lcls-plc-tmo-vac
	url = https://github.com/pcdshub/lcls-plc-tmo-vac
[submodule "lcls-plc-txi-hxr-motion"]
	path = lcls-plc-txi-hxr-motion
	url = https://github.com/pcdshub/lcls-plc-txi-hxr-motion
[submodule "lcls-plc-txi-hxr-optics"]
	path = lcls-plc-txi-hxr-optics
	url = https://github.com/pcdshub/lcls-plc-txi-hxr-optics
[submodule "lcls-plc-txi-hxr-vac"]
	path = lcls-plc-txi-hxr-vac
	url = https://github.com/pcdshub/lcls-plc-txi-hxr-vac
[submodule "lcls-plc-txi-optics"]
	path = lcls-plc-txi-optics
	url = https://github.com/pcdshub/lcls-plc-txi-optics
[submodule "lcls-plc-txi-sxr-motion"]
	path = lcls-plc-txi-sxr-motion
	url = https://github.com/pcdshub/lcls-plc-txi-sxr-motion
[submodule "lcls-plc-txi-sxr-vac"]
	path = lcls-plc-txi-sxr-vac
	url = https://github.com/pcdshub/lcls-plc-txi-sxr-vac
[submodule "lcls-plc-ued-sample-delivery"]
	path = lcls-plc-ued-sample-delivery
	url = https://github.com/pcdshub/lcls-plc-ued-sample-delivery
[submodule "lcls-plc-vhs-01"]
	path = lcls-plc-vhs-01
	url = https://github.com/pcdshub/lcls-plc-vhs-01
[submodule "lcls-plc-vls-vac"]
	path = lcls-plc-vls-vac
	url = https://github.com/pcdshub/lcls-plc-vls-vac
[submodule "lcls-plc-xcs-liquid-jet"]
	path = lcls-plc-xcs-liquid-jet
	url = https://github.com/pcdshub/lcls-plc-xcs-liquid-jet
[submodule "lcls-plc-xcs-per-vac"]
	path = lcls-plc-xcs-per-vac
	url = https://github.com/pcdshub/lcls-plc-xcs-per-vac
[submodule "lcls-plc-xpp-jjslit-motion"]
	path = lcls-plc-xpp-jjslit-motion
	url = https://github.com/pcdshub/lcls-plc-xpp-jjslit-motion
[submodule "lcls-plc-xrt-optics"]
	path = lcls-plc-xrt-optics
	url = https://github.com/pcdshub/lcls-plc-xrt-optics
[submodule "lcls-twincat-common-components"]
	path = lcls-twincat-common-components
	url = https://github.com/pcdshub/lcls-twincat-common-components
[submodule "lcls-twincat-general"]
	path = lcls-twincat-general
	url = https://github.com/pcdshub/lcls-twincat-general
[submodule "lcls-twincat-math"]
	path = lcls-twincat-math
	url = https://github.com/pcdshub/lcls-twincat-math
[submodule "lcls-twincat-motion"]
	path = lcls-twincat-motion
	url = https://github.com/pcdshub/lcls-twincat-motion
[submodule "lcls-twincat-optics"]
	path = lcls-twincat-optics
	url = https://github.com/pcdshub/lcls-twincat-optics
[submodule "lcls-twincat-physics"]
	path = lcls-twincat-physics
	url = https://github.com/pcdshub/lcls-twincat-physics
[submodule "lcls-twincat-pmps"]
	path = lcls-twincat-pmps
	url = https://github.com/pcdshub/lcls-twincat-pmps
[submodule "lcls-twincat-rail"]
	path = lcls-twincat-rail
	url = https://github.com/pcdshub/lcls-twincat-rail
[submodule "lcls-twincat-review"]
	path = lcls-twincat-review
	url = https://github.com/pcdshub/lcls-twincat-review
[submodule "lcls-twincat-sample-delivery"]
	path = lcls-twincat-sample-delivery
	url = https://github.com/pcdshub/lcls-twincat-sample-delivery
[submodule "lcls-twincat-vacuum"]
	path = lcls-twincat-vacuum
	url = https://github.com/pcdshub/lcls-twincat-vacuum
[submodule "lcls-twincat-vacuum-old"]
	path = lcls-twincat-vacuum-old
	url = https://github.com/pcdshub/lcls-twincat-vacuum-old
[submodule "lcls-twincat-vacuum-serialdrivers"]
	path = lcls-twincat-vacuum-serialdrivers
	url = https://github.com/pcdshub/lcls-twincat-vacuum-serialdrivers
[submodule "lcls-twincat-vacuum-sim"]
	path = lcls-twincat-vacuum-sim
	url = https://github.com/pcdshub/lcls-twincat-vacuum-sim
[submodule "lcls-twincat-vacuum-system-simulator"]
	path = lcls-twincat-vacuum-system-simulator
	url = https://github.com/pcdshub/lcls-twincat-vacuum-system-simulator
